<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} bg-background pt-[44px]">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h2 class="h2">
        {{- collection.title | escape | upcase -}}
      </h2>
      {% if collection.all_tags.size > 0 %}
        <div class="tags-swiper pt-16 overflow-hidden relative">
          <div class="swiper-wrapper">
            {% for tag in collection.all_tags %}
              {% if tag contains 'filter' %}
                <div class="swiper-slide whitespace-nowrap">
                  {% if current_tags contains tag %}
                    <button class="tag-button bg-black text-white uppercase">
                      {{ tag | link_to_remove_tag: tag | remove: 'filter ' }}
                    </button>
                  {% else %}
                    <button class="tag-button bg-white text-black uppercase">
                      {{ tag | link_to_add_tag: tag | remove: 'filter ' }}
                    </button>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="tags-swiper-next !items-start">
            {% render 'icon-arrow-right' %}
          </div>
          <div class="tags-swiper-prev !items-start">
            {% render 'icon-arraw-left' %}
          </div>
        </div>
      {% endif %}

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt=""
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
